/* general styling*/
*,
*::before *::after {
  box-sizing: border-box;
}
html {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

@media screen and (max-width: 786px) {
  html {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 786px) {
  html {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.5em;
  }
}
html {
  --main-bgcolor: rgb(131, 2, 2);
  --page-bgcolor: rgb(191, 188, 188);
  --link-hover: red;
  --link-activate: darkgray;
  --link-bgcolor: black;
  --page-text-color: black;
  --selection-color: white;
}

body {
  margin: 0;
  background-color: var(--page-bgcolor);
}

@media screen and (prefers-color-schema: dark) {
  body {
    --page-bgcolor: black;
    --page-text-color: white;
    --link-activate: black;
    --link-bgcolor: white;
  }
}

::selection {
  background-color: var(--main-bgcolor);
  color: var(--selection-color);
}

/* Layout */
.bghead {
  background-color: var(--page-bgcolor);
  background-image: linear-gradient(var(--main-bgcolor), transparent);
  padding: 5rem;
}

.head {
  color: var(--page-text-color);
  padding: 1rem;
  text-align: center;
}

.main {
  padding: 2rem;
  max-width: 80ch;
  margin: 0 auto;
}

article ~ article {
  border-top: 0.2rem solid var(--page-text-color);
}

/* Links */

a {
  color: crimson;
  transition: 0.5s;
}

a:hover {
  background-color: var(--link-bgcolor);
  padding: 9px;
  font-size: 30px;
  border-radius: 10px;
  color: var(--link-hover);
}

a:active {
  color: var(--link-activate);
}

@media screen and (min-width: 992px) {
  aside {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    background-color: var(--page-bgcolor);
    border-radius: 0.1rem;
  }
}

/* Footer */
.foot {
  text-align: center;
  font-size: 16px;
  background-color: var(--page-bgcolor);
  background-image: linear-gradient(transparent, var(--main-bgcolor));
  background-size: footer;
  padding: 5em;
}

footer a {
  color: white;
}

a ~ a {
  margin-left: 30px;
}

.ca > a {
  margin-left: 0px;
  transition: color 0s;
}
.ca > a:hover {
  background-color: var(--page-text-color);
  padding: 0px;
  font-size: 0px;
  border-radius: 0px;
}

.contactme {
  font-size: 30px;
  color: white;
}

/* other */
@media print {
  .noprint {
    display: none;
  }
}
